<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard</title>
</head>
<body>
	<section>
		<div class="card ml-2 mr-2">
			<div class="card-body">
				<h1 class="text-center">Update Contact</h1>
				<div class="container-fluid mt-1">
					
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form th:object="${contact}" 
								enctype="multipart/form-data"
								method="post" 
								th:action="@{/user/process-update}" class="mt-2">
								<input type="text" th:value="${contact.id}" name="id" hidden="true">
								<!-- First Name -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input class="form-control" th:value="${contact.name}" type="text" name="name" placeholder="Enter Name" />
								</div>
								<!-- Second Name -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input class="form-control" th:value="${contact.secondName}" type="text" name="secondName" placeholder="Enter 2nd Name" />
								</div>
								<!-- phone -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-phone"></i>
										</div>
									</div>
									<input class="form-control" th:value="${contact.phone}" type="text" name="phone" placeholder="Enter Phone Number" />
								</div>
								<!-- email -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											@
										</div>
									</div>
									<input class="form-control" th:value="${contact.email}" type="email" name="email" placeholder="Enter Email" />
								</div>
								<!-- phone -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>
									<input class="form-control" th:value="${contact.work}" type="text" name="work" placeholder="Enter work" />
								</div>
								<!-- Description -->
								<div class="form-group">
									<textarea id="mytextarea" class="form-control" th:text="${contact.description}"  name="description" placeholder="Enter Contact Description"></textarea>
								</div>
								<!-- Image -->
								<div class="form-group">
									<input class="form-control" type="file" name="profileImage" placeholder="Enter Image" />
								</div>
								<div class="container text-center">
									<button class="btn btn-outline-primary" type="submit">Update Contact</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		<script>
	      tinymce.init({
	        selector: '#mytextarea'
	      });
	    </script>
	</section>
</body>
</html>