<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard</title>
</head>
<body>
	<section>
		<h1>User Dashboard</h1>
		<h2>User Name: <span th:text="${user.name}"></span></h2>
		<h2>Email: <span th:text="${user.email}"></span></h2>
		<h3><a th:href="@{/logout}">logout</a></h3>
		<hr>
		<h3>Donate Us</h3>
		<input id="payment_field" type="text" class="form-control my-2" placeholder="Enter Donation Amount">
		<div class=" container text-center">
			<button onclick="paymentStart()" class="btn btn-success btn-block">Pay</button>
		</div>
		<script type="text/javascript">
			$(document).ready(()=>{
				$('.item').removeClass('active');
				$('#home-link').addClass('active');
			});
			
		</script>
	</section>
</body>
</html>